<div id="user_nav">
  <% if false %> <%= link_to "Log out", log_out_path %> <% end %>
  <div class="panel">
    <div class="panel-body">
      <%= form_for @article do |f| %>
        <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
          <%= pluralize(@article.errors.count, "error") %> prohibited
          this article from being saved:
          </h2>
          <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.label :title, 'Title:' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :text, 'Article:' %>
          <%= f.text_area :text, value: @article.text, class: "tinymce form-control", id: "post", rows: 10, cols: 120 %>
        </div>
        <div class="form-group">
          <%= f.text_field :user_id, class: 'hidden', value: if current_user then current_user.id end %>
        </div>
        <%= f.fields_for :images do |builder| %>
          <%= render 'images', :f => builder %>
        <% end %>
        <%= f.submit 'Submit', :class=>'btn btn-default'%>
      <% end %>
    </div>
  </div>
  <% if not current_user %>
    <button id="login-button" class="hidden"  type="button" data-toggle="modal" data-target="#login-modal">Open Modal</button>
    <script>
      $(document).ready(function(){
        $('#login-button').click();
      });
    </script>
    <div class="modal fade" id="login-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" align="center">
            <img class="img" id="img_logo" src="/assets/bewakoof_logo.png">
            <button type="button" class="close hidden" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
          <div id="div-forms">
            <%= form_tag sessions_path, class: '', id: 'login-form' do %>
              <div class="modal-body">
                <%= text_field_tag :username, '',placeholder:"Username", class:"form-control" %><br>
                <%= password_field_tag :password, '',placeholder: "Password", class:"form-control" %>
              </div>
              <div class="modal-footer">
                <div>
                  <%= submit_tag "Login", class:"btn btn-primary btn-lg btn-block" %>
                </div>
                <div>
                  <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                </div>
              </div>
            <% end %>
            <%= form_tag users_path, class: 'hidden', id: 'register-form' do %>
              <div class="modal-body">
                <%= text_field_tag :name, '', class: "form-control", placeholder: "Name" %><br>
                <%= text_field_tag :username, '', class: "form-control", placeholder: "Username" %><br>
                <%= text_field_tag :email, '', class: "form-control", placeholder: "Email" %><br>
                <%= text_field_tag :password, '', class: "form-control", placeholder: "Password" %><br>
                <%= check_box_tag :subscriber, 1, true %> Subscribe to updates
                <% style= "display: none; margin-top: 20px;"
                  if current_user and current_user.role === "admin"
                    style = "margin-top: 20px;"
                  end
                %>
                <%= select_tag :role, "<option value='user'>Choose Role</option><option value='user'>user</option><option value='editor'>editor</option><option value='admin'>admin</option>".html_safe, style: style, class:'form-control'%>
      </div>
    <div class="modal-footer">
                <div>
                  <%= submit_tag 'Register', class: "btn btn-primary btn-lg btn-block"%>
                </div>
                <div>
                  <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
	  </div>
  <% end %>
</div>


